<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    <div class="black container-fluid" style="background:black;height:100vh;;color:#ffff">
        <div class="logo">
            <img src="http://lh4.ggpht.com/qhkrz1gP8sq90q5Wr5c58NIQaFd-Lj0uMotBhzRoA7LP-tQ4w4_sMrME0OpWQNiHh1khYvi6rcVAgP6ABVhJeRbS5A=s417" style="max-width: 100%;display: block;"/>
        </div>
        <div >
            <h1 style="text-align: center;text-transform: uppercase;">Nuova Richiesta</h1>
         
                <table style="font-size: 1.3em;padding: 10px;margin:10px auto;border-collapse: collapse;width: 100%;color: #ffff;">
                    <thead>
                        <tr style=" border: 1px solid #ffff;
                        padding:15px;;">
                            <th style=" border: 1px solid #ffff;
                            padding:15px;;">Nome</th>
                      
                    
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Cognome</th>
                   
                   
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Company</th>
                   
                    
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Città</th>
                   
                    
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Provincia</th>
                   
                     
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Codice Postale</th>
                  
                   
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Stato</th>
                    
                    
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Email</th>
                    
                     
                         <th style=" border: 1px solid #ffff;
                         padding:15px;;">Numero telefono</th>
                    
                     
                       
                   
                     
                        
                     </tr>
                    </thead>
              
                <tbody>
                    <tr style=" border: 1px solid #ffff;
                    padding:15px;;">
                        <td style=" border: 1px solid #ffff;
                        padding:15px;;">
                        <%=obj.name %>
                        </td>
                        <td style=" border: 1px solid #ffff;
                        padding:15px;;">
                           <%=obj.lastname %>
                           </td>
                           <td style=" border: 1px solid #ffff;
                           padding:15px;;">
                           <%=obj.company %>
                           </td>
                           <td style=" border: 1px solid #ffff;
                           padding:15px;;">
                          <%=obj.city %>
                           </td>
                           <td style=" border: 1px solid #ffff;
                           padding:15px;;">
                           <%=obj.provincia %>
                           </td>
                           <td style=" border: 1px solid #ffff;
                           padding:15px;;">
                           <%=obj.postcode %>
                           </td>
                           <td style=" border: 1px solid #ffff;
                           padding:15px;;">
                         <%=obj.state %>
                           </td>
                           <td style=" border: 1px solid #ffff;
                           padding:15px;;">
                            <%=obj.email %>
                           </td>
                           <td style=" border: 1px solid #ffff;
                           padding:15px;;">
                           <%=obj.phone%>
                           </td>
                    </tr>
                  
                </tbody>
            </table>
            <div style="font-size: 1.3em;">  
                <p style="font-weight:bold;" >Interessato a :</p>  
                <ul>
                    <% obj.scelta.forEach(function(scelta){ %>
                     <li><%=scelta%></li>
                    <% }); %>
                  </ul>
            
          <div style="font-size: 1.3em;">  
            <p style="font-weight:bold;text-decoration: underline;" >Messaggio:</p>  
               <p><%=obj.message %></p> </div>
        
     </div>
 
 
</body>
</html>

 